
nav{
    flex-direction: column;
}
nav h1{
    font-size: 35px;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}
nav ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
.create-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
  }
.create-blog form{
   width: 80%;
}
.create-blog button{
    display: block;
    margin: auto;
}

